.cong_trinh

    & .news
        padding: 20px
        box-shadow: 3px 3px 5px -1px rgba(0, 0, 0, 0.5)
        & .news_item
            margin-bottom: 20px

    & .news_recently
        padding: 0px 0px 0px 20px
        & .card_recently_new
            margin-bottom: 20px
