.home
    &__text
        text-transform: uppercase

        &-franco
            color: $primary
            font-size: 12px
            font-weight: 800
            letter-spacing: 6px
            margin: 0

        &-feature
            font-size: 22px
            font-weight: 700
            text-shadow: 1px 0px 1px $light-grey-color
            margin-bottom: 8px
            margin-top: 16px
            letter-spacing: 3px

        &.-underline
            height: 2px
            width: 120px
            background-color: $primary
            margin-bottom: 15px
    &__banner
        &-img
            position: relative
            width: 100%
            height: 0
            padding-top: 33.8%
            overflow: hidden
    &__post
        background-color: $white
        padding: 15px
        margin-bottom: 15px
        border-radius: 4px
        &-title
            font-size: 22px
    &__carousel-arrow
        &-left
            position: absolute,
            z-index: 2,
            top: calc(50%),
            transform: translateY(-50%)
            left: 10px
            width: 35px
            height: 35px
            cursor: pointer
            background-color: rgb(130,98,181,0.7)
            border-radius: 50%
            color: $white
            display: flex
            align-items: center
            justify-content: center
            &:hover
                background-color: rgb(130,98,181,0.9)
        &-right
            position: absolute
            z-index: 2
            top: calc(50%)
            transform: translateY(-50%),
            right: 10px
            width: 35px
            height: 35px
            cursor: pointer
            background-color: rgb(130,98,181,0.7)
            border-radius: 50%
            color: $white
            display: flex
            align-items: center
            justify-content: center
            &:hover
                background-color: rgb(130,98,181,0.9)
    .section_title
        text-align: center
        font-size: 34px
        font-weight: 400
        text-transform: uppercase
    .section_sub_title
        text-align: center
        font-size: 16px
        position: relative
        width: fit-content
        margin: 0 auto 25px auto
        &::before
            content: ""
            position: absolute
            bottom: -5px
            width: 40%
            height: 2px
            background: #000
            left: 30%

    .button_filter
        width: fit-content
        margin: 0 auto
        & > span
            display: inline-block
            transition: 0.3s
            padding: 10px
            border: 1px solid #f0f0f0
            border-radius: 5px
            margin: 10px
            text-transform: uppercase
            font-size: 12px
            font-weight: bold
            color: #666666
            cursor: pointer
            &:hover
                color: $text_hover_color
                border-color: $text_hover_color

        & > span.active
            color: $text_hover_color
            border-color: $text_hover_color

.thin_branner
    background: #9b9b9b
    width: 100%
    padding: 50px 0px
    position: absolute
    left: 0
    &_img
        position: relative
        // width: calc(100% / 3)
        // margin-right: 30px
        // padding: 4% 0%
        & img
            width: 167px
            height: 32px

.home_search_bar
    width: 100%
    margin: 10px 0px
    display: none

@media only screen and (max-width: 770px)
    .home_search_bar
        display: block
