/* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_collapsible_symbol */
.sidebar
    position: fixed
    top: 0
    right: 0
    width: 300px
    height: 100vh
    background: rgba(0, 0, 0, 0.8)
    z-index: 1001
    overflow: auto
    backdrop-filter: blur(3px)
    transition: 0.4s

    &_body
        color: #fff
        & a
            color: #fff
        & > ul > li
            border-bottom: 1px dashed #fff
            &:hover
                background: rgba(0, 0, 0, 0.75)
                &::before
                    content: ""
                    position: absolute
                    left: 0
                    height: 100%
                    width: 3px
                    background: #fff
                    top: 0
        & > ul  ul  ul li a
            text-transform: none
        & ul
            width: 100%
            overflow: hidden
            transition: 0.5s
            transform-origin: top
            animation: toggleMenu 0.5s
            & li
                padding: 10px 15px
                position: relative
                transition: 0.5s
                &:hover>.title_item::before
                    width: 100%

                & .title_item
                    text-transform: uppercase
                    position: relative
                    &::before
                        bottom: -1px
                        content: ''
                        position: absolute
                        height: 2px
                        width: 0%
                        background: #ffffff
                        transition: 0.2s

                & .drop_icon
                    position: absolute
                    right: 50px
                    cursor: pointer
                    & label
                        cursor: pointer

        & input[type="checkbox"] + ul
            display: none
        & input[type="checkbox"]:checked + ul
            display: block
    &::-webkit-scrollbar
        width: 5px

    &::-webkit-scrollbar-track
        box-shadow: inset 0 0 5px grey
        border-radius: 10px

    &::-webkit-scrollbar-thumb
        background: gray
        border-radius: 10px
